    :root {
        --background-color: #FFFFFF;
        --contrast-background: #e5e5e5;
        --nav-tabs: #000000;
        --font: 'Poppins', sans-serif;
        --off-gray: #757470;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        background-color: var(--background-color);
        scroll-behavior: smooth;
    }

    
    nav {
        background-color: #FFFFFF;
    }


    .nav-item {
       margin-bottom: -2em;
       transition: .2s ease-out;
    }
    nav .navbar-nav li a{
        color: var(--nav-tabs) !important;
        margin-right: 1em;
        padding-top: 2em;
        font-size: 16px;
        padding-bottom: 3.5em;
        font-family: var(--font);
    }

    .navbar .navbar-toggler-icon {
        color: black !important;
    }


    #navList a:hover {
        color: #000000;
    }

    .links {
        float: right;
        display: flex;
        min-width: 40vw;
        justify-content: space-between;
    }

    #hero {
        position: relative;
        height: 100vh;
        width: 100%;
        min-width: 100%; 
        min-height: 90%;
        margin-right: 1.5em;
    }

    .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/hero.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    position: relative;
  }

    #hero .content {
        color: var(--logo-color);
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        font-family: var(--font);
    }

    #landing {
        position: relative;
        margin-top: 3em;
        height: 30vh;
        width: 100%;
        min-width: 100%; 
        min-height: 90%;
    }

    .landing-hero {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/what-we.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        max-width: 100%;
        position: relative;
      }

    #landing .content {
        color: white;
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        left: 50%;
        top: 50%;
        width: 90%;
        transform: translate(-50%, -50%);
        font-family: var(--font);
    }

     #landing .content h1{
        font-size: 2em;
    }

    #marketing-landing {
        position: relative;
        margin-top: 3em;
        height: 30vh;
        width: 100%;
        min-width: 100%; 
        min-height: 90%;
        max-width: 100vw;
    }

    .marketing-landing-hero {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/why-marketing-hero.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        max-width: 100%;
        position: relative;
      }

    #marketing-landing .content {
        color: white;
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        left: 50%;
        top: 50%;
        width: 90%;
        transform: translate(-50%, -50%);
        font-family: var(--font);
    }

     #marketing-landing .content h1{
        font-size: 2em;
    }

    .our-btn {
        text-decoration: none;
        margin-top: 3rem;
        padding: 10px 15px;
        background-color: var(--off-gray);
        color: white;
        transition: .2s linear;
        align-self: center;
        font-family: var(--font);
        border-radius: 5%;
    }

    .our-btn:hover {
        text-decoration: none;
        color: #000;
        background-color: #a8a6a1;
    }

    .mission-btn {
        text-decoration: none;
        margin-top: 1rem;
        padding: 10px 15px;
        background-color: var(--off-gray);
        color: white;
        transition: .2s linear;
        align-self: center;
        font-family: var(--font);
        border-radius: 5%;
    }

    .mission-btn:hover {
        text-decoration: none;
        color: #000;
        background-color: #a8a6a1;
    }

    #hero .content h1 {
        color: white;
    }

    #mission {
        margin: 1em;
        margin-top: -2em;
    }

    #mission h3 {
        margin: 2em;
        text-align: center;
        padding-bottom: 2rem;
        font-size: 2rem;
        max-width: 90vw;
        max-height: 90vh;
    }

    #mission .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 3rem;
    }

    #mission .content .my-img {
        padding-bottom: 1rem;
    }

    #mission .content .offer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 6rem;
    }

    #mission .content .offer .wrapped-flex{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #mission .content .offer .wrapped-flex p{
        text-align: center;
    }

     #mission .content .why-marketing .wrapped-flex p{
        text-align: center;
    }

    #mission .content .offer .wrapped-flex h3{
        font-size: 31px;
        margin-bottom: 0rem;
    }

    #mission .content .why-marketing .wrapped-flex h3{
        font-size: 31px;
        margin-bottom: 0rem;
    }

      #mission .content .why-marketing {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 6rem;
    }

    #mission .content .why-marketing .wrapped-flex{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #mission {
        margin-bottom: 2rem;

    }


    #contact {
        background-color: var(--contrast-background);
        padding: 2em;
        font-family: var(--font)
    }

    #contact .content h2 {
        text-align: center;
    }

    #contact .content p {
        text-align: center;
        padding-bottom: 1em;
        color: var(--off-gray)
    }

    #contact form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #contact form input {
        margin-bottom: 1em;
    }

    #contact form input {
        margin-right: 1em;
        padding: 1em;
        height: 7vh;
    }

    #contact .contact-btn {
        padding: 1em;
        height: 7vh;
        color: white;
        cursor: pointer;
        text-align: center;
        background-color: var(--off-gray);
        border-radius: 2%;
    }

    #contact .contact-btn:hover {
        text-decoration: none;
        color: #000;
        background-color: #a8a6a1;
        transition: .3s ease;
    }

    #core {
        font-family: var(--font);
    }

    #core .core-title {
        text-align: center;
        padding-top: 2.5em;
        font-size: 33px;
        font-weight: bold;
    }

    #grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        justify-content: center;
        margin: 1.5em;
        padding-top: 3em;
        padding-bottom: 3em;
    }

    #grid .my-card {
        padding-bottom: 2em;
    }

    #grid .my-card h2{
        text-align: center;
        padding-bottom: .5em;
        font-size: 33px;
        font-weight: bold;
    }

    #grid .my-card .what-img {
        padding-bottom: 1em;
    }

    #black {
        background-color: black;
        color: white;
        font-family: var(--font);
        padding: 3em;
    }

    #black p {
        text-align: center;
    }

    #black .author {
        color: gray;
    }

    #stats {
        font-family: var(--font);
        padding-top: 4em;
        padding-bottom: 3em;
    }

    #stats .wrapped-flex h2{
        text-align: center;
        margin-bottom: 1.5em;
    }

    #stats .stat-img{
        padding-top: 2em;
        margin-bottom: 2em;
    }

    .stat-gray {
        background-color: #f1f1f1;
    }
    

    #stats .stat-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100vw;
        padding: 2em;
        margin-bottom: 3em;
    }

   
     #stats .stat-card .wrapped-flex {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 90vw;
        max-height: 90vh;
        padding: 1em;
    }

    .footer {
        text-align: center;
        padding-top: 3em;
        padding-bottom: 3em;
        color: #2d2d2d;
        background-color: var(--background-color);
        font-size: 1em;
        font-family: 'Montserrat', sans-serif;
        padding-bottom: 5em;
    }

.footer h3 {
    font-size: 1.3em;
}


.footer-contact {
    color: #434240;
    text-decoration: none;
}

.footer-contact:hover {
    color: var(--off-gray);
    text-decoration: none;
    transition: .3s ease;
}

.footer p {
    padding-top: 1em;
    font-size: 1.2em;
    
}


@media only screen and (min-width: 768px) {

    .navbar-brand {
        padding-left: 1.5em;
    }

    .nav-item {
       margin-bottom: -2em;
       transition: .2s ease-out;
       padding-right: 1.5em;
    }

    #hero:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url(assets/hero.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        filter: brightness(.7);
    }

    #hero .content {
        color: var(--logo-color);
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-family: var(--font);
    }

    #landing {
        position: relative;
        height: 50vh;
        width: 100%;
        min-width: 100%; 
        min-height: 90%;
    }

    .landing-hero {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/what-we.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        max-width: 100%;
        position: relative;
      }

     #landing .content {
        color: white;
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        left: 50%;
        top: 50%;
        font-size: 2em;
        transform: translate(-50%, -50%);
        font-family: var(--font);
    }

    #marketing-landing {
        position: relative;
        height: 50vh;
        width: 100%;
        min-width: 100%; 
        min-height: 90%;
    }

    .marketing-landing-hero {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/why-marketing-hero.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        max-width: 100%;
        position: relative;
      }

     #marketing-landing .content {
        color: white;
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        left: 50%;
        top: 50%;
        font-size: 2em;
        transform: translate(-50%, -50%);
        font-family: var(--font);
    }


    .our-btn {
        text-decoration: none;
        margin-top: 3rem;
        padding: 10px 15px;
        background-color: var(--off-gray);
        color: #FFFFFF;
        transition: .2s linear;
        align-self: center;
        font-family: var(--font);
    }

    .our-btn:hover {
        text-decoration: none;
        color: #000;
        background-color: #eee;
    }

    #mission h3 {
        margin: 2em;
        text-align: center;
        padding-bottom: 2rem;
        font-size: 2.7rem;
        max-width: 90vw;
        max-height: 90vh;
    }

    #mission .content {
        font-family: var(--font)
    }

     #mission .content .my-img {
        width: 40%;
        height: 20%;
    }

    #mission .content .offer {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row-reverse;
    }

    #mission .content .offer .wrapped-flex{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 40%;
    }

    #mission .content .offer .wrapped-flex h3{
        font-size: 31px;
    }

    #mission .content .offer .wrapped-flex p{
        padding-top: 1em;
        text-align: center;
        line-height: 2em;
    }

     #mission .content .why-marketing {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    #mission .content .why-marketing .wrapped-flex{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 40%;
    }

    #mission .content .offer .wrapped-flex h3{
        font-size: 2rem;
        margin-bottom: -1rem;
    }

    #mission .content .why-marketing .wrapped-flex h3{
        font-size: 31px;
        margin-bottom: -1rem;
    }

    #mission .content .why-marketing .wrapped-flex p{
        padding-top: 1em;
        text-align: center;
        line-height: 2em;
    }

    #contact {
        background-color: var(--contrast-background);
        padding: 2em;
        max-width: 100vw;
    }

    #contact .content {
        padding-top: 5em;
        padding-bottom: 5em;
    }

    #contact .content h2 {
        text-align: center;
    }

    #contact form {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }

    #contact form input {
        margin-right: 1em;
        padding: 1em;
        height: 7vh;
    }

    #contact .contact-btn {
        padding: 1em;
        height: 7vh;
        width: 7vw;
        color: white;
        cursor: pointer;
        text-align: center;
        background-color: var(--off-gray);
        border-radius: 2%;
    }

    #core .core-title {
        text-align: center;
        padding-top: 2em;
        font-size: 2.5em;
        font-weight: bold;
    }

    #grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: .5em;
        align-items: start;
        justify-items: center;
        justify-content: space-evenly;
        margin: 2em;
        padding-top: 2em;
    }

    #grid .my-card .what-img {
        padding-bottom: 2em;
    }

    #grid .my-card {
        width: 75%;
    }

    #grid .my-card h2{
        text-align: center;
        padding-bottom: 1em;
    }

    #black p {
        text-align: center;
        font-size: 2em;
        padding-top: 1em;
    }

    #black .author {
        font-size: 1em;
        color: gray;
         padding-bottom: 2em;
    }

    #stats {
        font-family: var(--font);
        padding-top: 4em;
        padding-bottom: 3em;
    }
    

    #stats .stat-card {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        height: 100%;
        padding: 4em;
    }

    #stats .stat-img {
        width: 40%;
        height: 40%;
        max-width: 50%;
        margin-left: 1em;
    }

     #stats .stat-card .wrapped-flex {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 40%;
        height: 100%;
    }

    #stats .stat-card .wrapped-flex h2{
        padding-bottom: 1em;
    }

    #stats .stat-card .wrapped-flex ul li{
        padding-bottom: 1.5em;
    }

    .stat-gray {
        background-color: #f1f1f1;
    }

}